<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12609096642-4pibf3nhgd40eg93074ruumns2epgfq6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12609096642-4pibf3nhgd40eg93074ruumns2epgfq6</string>
	<key>API_KEY</key>
	<string>AIzaSyAqjACXa8clm60mj127u-L8L3waN99vu4g</string>
	<key>GCM_SENDER_ID</key>
	<string>12609096642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.silvershort.nearCamp</string>
	<key>PROJECT_ID</key>
	<string>near-camp</string>
	<key>STORAGE_BUCKET</key>
	<string>near-camp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12609096642:ios:e441f753183724cc2aa45b</string>
</dict>
</plist>